body {
background-color: black;
color: crimson;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0%;
}

header {
font-size: medium;
border-bottom: double 10px yellow;
padding: 6px;
text-align: center;
}

h1 {
font-size: 50px ;
}

p {
    font-size: 20px;
}

